#player {
    position: relative;
    overflow: hidden;

    max-width: min(100%, 100vw);
    max-height: min(100%, 100vh);
    aspect-ratio: 16 / 9;

    background-image: url("/assets/images/player.png");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: bottom 28px right;
}

#player video {
    width: 100%;
    height: 100%;
}

#player .player-bar {
    background-color: #181818AA;
    display: flex;
    padding: 0 0.5em;
    gap: 0.75em;
    height: 40px;
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#player span {
    margin: auto 0;
}

#player .no-mouse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#player .btn {
    display: flex;
    border: none;
    background: transparent;
    color: white;
    margin: auto;
    cursor: pointer;

    transition: .1s color ease-in-out;
}

#player .btn:hover {
    color: var(--x-color-blue);
}

#player .bar-container.media-timing {
    flex-grow: 1;
}

#player .bar-container.media-volume {
    width: 100px;
}

#player .bar-container {
    display: flex;
    --progress: 0%;
    margin: 0 0.5em;
}

#player .bar-container .bar {
    position: relative;
    flex-grow: 1;
    height: 6px;
    background: var(--x-dark-background);
    margin: auto 0;
    border-radius: 8px;
}

#player .handle {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 10px;
    background-color: var(--x-white);
    transform: translateX(-50%);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);

    top: -5px;

    left: var(--progress);
}

#player .progress {
    height: 100%;
    width: var(--progress);
    background-color: var(--x-color-blue);
    border-radius: 8px;
}

.player-menu {
    position: absolute;
    padding: 0.5em;
    background-color: var(--x-background);
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 4px;
    width: 170px;
    bottom: 50px;
    right: 10px;
    z-index: 3;
}

.player-menu section h2 {
    font-size: 1.1em;
    text-align: right;
    padding: 0 0.5em;
}

.player-menu ul {
    list-style: none;
    text-align: right;
}

.player-menu ul li {
    line-height: 1.5em;
    border-radius: 4px;
    padding: 0 0.5em;
    cursor: pointer;
}

.player-menu ul li:hover {
    background-color: var(--x-dark-gray);
}

.player-menu ul li.active {
    color: white;
    background-color: var(--x-color-blue);
}

/** Ugly fix **/
#player {
    font-size: 0;
}

.player-menu, .player-bar {
    font-size: 16px;
}

.hidden {
    display: none !important;
}


/** Activity Status **/

#player .player-bar {
    transition: .1s bottom ease-in-out;
}

#player.inactive {
    cursor: none;
}

#player.inactive .player-bar {
    bottom: -40px;

}
