<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anisekai - Toshiko AniDB</title>

    <link rel="stylesheet" href="/assets/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
    <div class="web-icon">
        <img src="/assets/images/toshiko.webp" alt="Toshiko"/>
    </div>

    <div class="logout">
        <a href="/logout">Déconnexion</a>
    </div>
</nav>

<div id="page">
    <p>
        Malheureusement, vous n’avez pas accès à ce contenu. Merci de demander l’accès sur le Discord du site.
    </p>

    <a href="https://discord.gg/Wg3re2kAnA" target="_blank">Rejoindre le serveur</a>
</div>

</body>
</html>
