<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anisekai - Toshiko AniDB</title>

    <link rel="stylesheet" href="/assets/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
    <div class="web-icon">
        <img src="/assets/images/toshiko.webp" alt="Toshiko"/>
    </div>

    <div class="search">
        <label for="search-input" hidden>Search</label>
        <input id="search-input" placeholder="Rechercher..."/>
    </div>

    <div class="logout">
        <a href="/logout">Déconnexion</a>
    </div>
</nav>

<div id="tree-view">
    <details th:each="group : ${groups}" class="group">
        <summary th:text="${group.name}"></summary>
        <div class="content">
            <details th:each="anime : ${group.animes}" class="anime">
                <summary th:style="'--image: url(\'' + ${anime.imageUrl} + '\')'">
                    <img alt="" src="" th:data-src="${anime.imageUrl}"/>
                    <span th:text="${anime.title}"></span>
                </summary>
                <div class="content">
                    <div class="episode" th:data-play="${episode.id}" th:each="episode : ${anime.episodes}">
                        <span th:text="${episode.getName()}"></span>
                    </div>
                </div>
            </details>
        </div>
    </details>
</div>

<div class="no-results" data-if="empty">
    Aucun résultat
</div>

<div id="player-container" class="hidden">
    <div id="player">
        <video></video>
        <div class="no-mouse"></div>
        <div class="player-bar">
            <button class="btn btn-play" title="Lecture"><i data-feather="play"></i></button>
            <button class="btn btn-pause" title="Pause"><i data-feather="pause"></i></button>
            <span class="track-time track-time-current">00:00</span>
            <div class="bar-container media-timing">
                <div class="bar">
                    <div class="progress"></div>
                    <div class="handle"></div>
                </div>
            </div>
            <span class="track-time track-time-total">24:00</span>
            <div class="bar-container media-volume">
                <div class="bar">
                    <div class="progress"></div>
                    <div class="handle"></div>
                </div>
            </div>
            <button class="btn btn-settings">
                <i data-feather="settings"></i>
            </button>
            <button class="btn btn-maximize" title="Plein écran"><i data-feather="maximize"></i></button>
            <button class="btn btn-minimize" title="Quitter le plein écran"><i data-feather="minimize"></i></button>
        </div>
        <div class="player-menu hidden">
            <section>
                <h2>Audio</h2>
                <ul class="audio-list">
                </ul>
            </section>
            <section>
                <h2>Sous-Titres</h2>
                <ul class="subs-list">
                </ul>
            </section>
        </div>
    </div>
    <button class="btn back-btn">&lt; Retour à la liste</button>
</div>

</body>
<script src="/assets/libs/shaka/shaka-player.compiled.js"></script>
<script src="/assets/libs/subtitles-octopus/subtitles-octopus.js"></script>
<script src="/assets/libs/feather/feather.min.js"></script>
<script type="module" src="/assets/scripts/script.js"></script>
</html>
