<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toshiko AniDB</title>

    <link rel="stylesheet" href="assets/styles/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
    <div class="web-icon">
        <img src="assets/images/toshiko.png" alt="Toshiko"/>
    </div>

</nav>

<div id="page">
    <p>
        Pour accéder au contenu de ce site, vous devez désormais être <b>connecté(e)</b> et <b>autorisé(e)</b>.
    </p>
    <a href="/oauth2/authorization/discord">Se Connecter avec Discord</a>
</div>

</body>
</html>
