<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anisekai - Toshiko AniDB</title>

    <link rel="stylesheet" href="/assets/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
    <div class="web-icon">
        <img src="/assets/images/toshiko.webp" alt="Toshiko"/>
    </div>

</nav>

<div id="page">
    <p>
        Pour accéder au contenu de ce site, vous devez désormais être <b>connecté(e)</b> et <b>autorisé(e)</b>.
    </p>
    <a href="/oauth2/authorization/discord">Se Connecter avec Discord</a>
</div>

</body>
</html>
