<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anisekai - Toshiko AniDB</title>

    <link rel="stylesheet" href="/assets/styles/style.css">

    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
    <div class="web-icon">
        <img src="/assets/images/toshiko.png" alt="Toshiko"/>
    </div>

    <div class="search">
        <label for="search-input" hidden>Search</label>
        <input id="search-input" placeholder="Rechercher..."/>
    </div>

    <div class="logout">
        <a href="/logout">Déconnexion</a>
    </div>
</nav>

<div id="tree-view">
    <details th:each="group : ${groups}" class="group">
        <summary th:text="${group.name}"></summary>
        <div class="content">
            <details th:each="anime : ${group.animes}" class="anime">
                <summary th:style="'--image: url(\'' + ${anime.imageUrl} + '\')'">
                    <img alt="" src="" th:data-src="${anime.imageUrl}"/>
                    <span th:text="${anime.title}"></span>
                </summary>
                <div class="content">
                    <div class="episode" th:each="episode : ${anime.episodes}">
                        <span th:text="${episode.getName()}"></span>
                    </div>
                </div>
            </details>
        </div>
    </details>
</div>

<div class="no-results" data-if="empty">
    Aucun résultat
</div>

</body>
<script src="/assets/libs/shaka/shaka-player.compiled.js"></script>
<script src="/assets/libs/subtitles-octopus/subtitles-octopus.js"></script>
<script src="/assets/libs/feather/feather.min.js"></script>
<script type="module" src="/assets/scripts/script.js"></script>
</html>
